@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button:hover{
    background-color: rgba(0,0,0,0.5) !important;
    cursor: pointer;
}
body{
    font-family: 'Oxanium', cursive;
    color: #FFFFFF;
    font-style: normal;
    background: #FEAD29;
}
header{
    width: 100%;
    background-image: url(./images/nav1.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 15px;    
}
.menu-logoname{
    display: none;
}
.one{
    height: 50px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    padding: 0 10px;
}
ul{
    align-items: center;
    display: flex;
    list-style: none;
}
li a{
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}
.btn{
    width: 118.98px;
    height: 60.43px;
    background: url(./images/btn.svg);
    background-repeat: no-repeat;
}
.btn p{
    padding: 19px 25px 23px 32px;
}
.btns{
    display: flex;
    gap: 10px;
    padding-right: 35px;
}
.btns button{
    border: 0.3px solid #FFFFFF;
    border-radius: 21.1795px;
    padding: 9px 16px;
    background: #01223F;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
}
.btns span a{
    color: #FEAD29;
}


/* home part start */
.home-btns{
    display: flex;
    gap: 50px;
    padding-left: 50px;
}
.home-one{
    background-image: url(/images/btn-1.svg);
    background-repeat: no-repeat;
    width: 143.42px;
    height: 70.43px;
}
.home-two{
    background-image: url(/images/btn-2.svg);
    background-repeat: no-repeat;
    width: 143.42px;
}
.home-one button{
    border: none;
    background: none;
    padding: 25px 24px 12px 32px;
    color: #FFFFFF;
    font-weight: 700;
font-size: 12.7292px;
line-height: 16px;
}
.home-text h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}
.home-text h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;   
    color: #01223F;
}
.home-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 17px; 
    color: #01223F;
    padding-bottom: 25px;
}
.home-btns button:hover{
    background-color: transparent !important;
}
.images{
    width: 400px;
height: 280px;
left: 1130px;
top: 289px;
background: #01223F;
border: 2px solid #F2DF3A;
box-shadow: 0px 0px 20px 2px #F2DF3A;
border-radius: 49px;
}
.play
{
    padding-left: 155px;
    padding-top: 100px;
}
.home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding-top: 132px;
    gap: 29px;
}

/* sports cards start */
.sportslist img{
    width: 103px;
    height: 104px;
}
.sportslist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 105px;
}
.sport-cards{
    width: 250px;
    height: 220px;
    background: #01223F;
    border-radius: 10px;
}
.title{
    display: flex;
    align-items: center;
}
.sport-cards h3{
    font-weight: 700;
    font-size: 18px;
}
.sport-cards p{
    padding: 5px 30px;
    font-weight: 400;
    font-size: 16px;
}
/* sports cards end     */
































/* Media Query */

/* 992px */

@media screen and (max-width: 992px) {
    nav ul li{
        display: none;
    }
    .menu-logoname{
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav button{
        display: none;
    }
    .btn{
        display: none;
    }
}

/* 768px */
@media screen and (max-width: 768px) {
    .home{
        justify-content: center;
        padding: 15px;
    }
    
}

@media screen and (max-width:400px) {
        .home-btns{
            padding-left: 0;
            gap: 0;
        }
        .images{
            width: 300px;
            height: 250px;
        }
        .play{
            padding-left: 100px;
        }
}